[Desktop Entry]
Type=Application
Name=Factorio (1.0)
GenericName=Factorio, the game
Comment=Factorio, the game
Exec=/usr/games/factorio/bin/x64/factorio
# TODO why graphics card no work??? :(
# Exec=env __NV_PRIME_RENDER_OFFLOAD=1 __GLX_VENDOR_LIBRARY_NAME=nvidia /usr/games/factorio/bin/x64/factorio
Icon=/usr/games/factorio/data/base/thumbnail.png

# It doesn't work and I don't know why
# Hidden=true
